body {
	background-color: rgb(237, 238, 247);
}

a {
	text-decoration: none;
	color: #3366FF;
}

a:hover {
	color: #FF6633;
}

.pre-spaced {
	margin-left: 5px;
}

.post-spaced {
	margin-right: 5px;
}

.extra-bottom-space {
	margin-bottom: 5px;
}

.vertical-spaced {
	margin-top: 5px;
	margin-bottom: 5px;
}

.no-margin {
	margin: 0px;
}

.no-vertical-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.no-horizontal-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.nabbar-inverse .navbar-brand,
.navbar .navbar-brand {
	color: #ffffff;
}

/* table scrollable content */
table {
    table-layout:fixed;
}

.table-header{
    margin-bottom: 0px;
}
.table-content {
  max-height: 300px;
  overflow-y:scroll;
  margin-bottom: 0px;
}

/* column width */
.col-scroll{width:17px;}
.col-id{width:4em;}
.col-action-1{width:2.5em;}
.col-action-2{width:5em;}
.col-date{width:7em;}
.col-value{width:10em;}
.col-version{width:10em;}
.col-check{width:2em;}

/* form */
.input-group-sm{margin-bottom:0px;}
.modal-header{padding-top: 0px; padding-bottom: 0px;}
.modal-header .close{margin-top: 10px;}

footer{margin-top: 10px;}

.alert{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.expandable:hover{
	cursor: pointer;
}

.dropdown-menu {
	color:#ffff00;
	background-color:black;
}

.navbar-collapse li.dropdown > a{color:#ffff00;}

a.menu-item.navbar-link:hover {background:black;}

.navbar-nav>li>a.menu-item {color:#ffff00;}

ul.dropdown-menu>li>a.menu-item {color:#ffff00;}
