<html>
<head>
<script type="text/javascript"
	src='https://code.angularjs.org/1.4.2/angular.js'></script>
<script type="text/javascript"
	src='http://documentcloud.github.io/underscore/underscore-min.js'></script>
<script type="text/javascript" src='ng.js'></script>
</head>
<div ng-app="app">
	<div ng-controller="viz">
		<h2>view.allSeries</h2>
		<p>{{view.allSeries}}</p>
		<h2>view.viz</h2>
		<p>{{view.viz}}</p>

		<h2>view.series1Ids</h2>
		<p>{{view.series1Ids}}</p>
		<h2>view.series2Ids</h2>
		<p>{{view.series2Ids}}</p>
		<h2>view.location</h2>
		<p>{{view.location}}</p>

		<button class="btn-large" ng-click="submit()">Save</button>
		<h2>Total series: {{getTotal()}}</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>S1</td>
					<td>S2</td>
					<td>name</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="series in view.allSeries">
					<td><input type="checkbox" ng-model="series.s1"></td>
					<td><input type="checkbox" ng-model="series.s2"></td>
					<td>{{series.name}}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
</html>