@bs_modal("ambiguity-resolver", "AmbiguityResolver", "Ambiguities Exist", "closeDialog()")(ambiguityResolver())(footer())

@ambiguityResolver() = {
<form id="form" class="form-horizontal" role="form" name="form" style="padding: 5px;">
<!-- ng-init='radioIn="file"' enctype="{{ radioIn === 'file' ? 'multipart/form-data' : 'application/x-www-form-urlencoded' }}"> -->
	
	<div class="form-group">
		<fieldset>
			<label style="display: inline;">Results for:
				<legend ng-bind="currentInputLabel">Input Label</legend>
			</label>
			
			<div>
				<label for="aliasLabel">If there are no correct matches try querying with an alias: </label>
				<input class="/*form-control*/" type="text" name="aliasLabel" ng-model="aliasLabel" id="aliasLabel">
			</div>
		</fieldset>
	</div>

	@* @radio("urlRadio", "radioIn", "url", "URL") *@
	<div class='form-group'>
		<fieldset>
			<label class='control-label'>Matched Locations:</label>
			<select class="" ng-model='locationSelection' ng-options="suggestion.label for suggestion in suggestionList"></select>
		</fieldset>
	</div>
</form>

}

@*
@radio(id:String, model:String, value:String, text:String) = {
<div class="form-group">
	<div class="radio radio-offset">
		<label class='control-label' for='@id'>
			<input type="radio" name="opt" id= "@id" ng-model="@model" value="@value" checked> 
			<strong>Upload using @text</strong>
		</label>
	</div>
</div>
}
*@

@footer() = {
<button id="edit-previous-location" title="Edit previous location" class='btn-large btn-danger pull-left' ng-click='editPreviousLocation()'>
	<!-- ng-disabled='! dataFile || isWorking' ng-show="radioIn === 'file'"> -->
	@bs_icon("arrow-left") Previous Location
</button>

<button id="edit-next-location" title="Edit next location" class='btn-large btn-danger' ng-click='editNextLocation()'>
	@bs_icon("arrow-right") Next Location
</button>
}