@import tags._

@* Bootstrap (BS) modal dialog with AngularJS *@
@(id:String, controller:String, header:String, closeExpression:String=null)(body: Html)(footer: Html)
<div class="modal fade" id='@id' role="dialog" ng-controller='@controller'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
       		<div class="modal-header">
         		@closeButton()
         		<h2 class="modal-title">@header</h2>
       		</div>
       		<div class="modal-body">
				@body
    		</div>
       		<div class="modal-footer">
       			@footer
  			</div>
  		</div>
  	</div>
</div>

@closeButton() = {
	@if(closeExpression != null) {
		<button id='@id-close' title='close the dialog' type="button" class="close" data-keyboard='true' 
		ng-click='@closeExpression' >
			@bs_icon("remove")
		</button>
	}
}