@bs_modal("emailer", "Emailer", "Request permission", "closeDialog()")(emailer())(footer())

@emailer() = {
<div id="" style="overflow: auto;">
	<form id="emailer-form">
		<div class="form-group">
			<label for="email-subject">Subject</label>
			<input id="email-subject" class="form-control" type="text" placeholder="Requesting permission to use" ng-model="emailSubject">
		</div>

		<div class="form-group">
			<label for="email-body">Body</label>
			<textarea id="email-body" class="form-control" placeholder="Body" ng-model="emailBody"></textarea>
		</div>
	</form>
</div>
}

@footer() = {
<div>
	<button id="email-request-button" title="Email request" class='btn-large btn-danger' ng-click='emailRequest()'>
		@bs_icon("envelope") Send request
	</button>
</div>
}