@import tags.bs_icon

@* filter elements usually used with filter_repeat tag*@
@(prefix:String, plural:String, options:Seq[Seq[String]]) 
<fieldset id='@{prefix}Filter'>
	<label>filter: </label>
	<input placeholder="Filter your @plural" autofocus 
	ng-model="@{prefix}Query" >
	<label>order by: </label> 
	<select ng-model="@{prefix}Order">
		@for(option <- options){
			<option value="@(option(0))">@(option(1))</option>
		}
	</select> 
	<input title='ascending order' id="@{prefix}Asc" type="radio" ng-model="@{prefix}Dir" name="@{prefix}Dir" checked>
	<label title='ascending order' for="@{prefix}Asc"> @bs_icon("sort-by-attributes") </label> 
	<input title='descending order' id='@{prefix}Des' type="radio" ng-model="@{prefix}Dir" name="@{prefix}Dir" value="reverse">
	<label title='descending order' for="@{prefix}Des"> @bs_icon("sort-by-attributes-alt") </label>
</fieldset>

