@import tags._

@(singular:String, plural:String, prefix:String, more:Seq[Seq[Html]] = null)
<section>
	<h3>You have {{count(models) | number}} @plural
		<small><button title='Add new @singular' class='btn btn-xs' ng-click='addNew()'>
			@bs_icon("plus")
		</button></small>
	</h3>
	@table_filterable("models", prefix, plural, 
			Seq(Seq("id", "ID"), Seq("title", "Title"), Seq("version", "Version")),
			if(more == null){
				Seq(
					Seq(
						Html("action-2"), Html("Actions"), buttons()
					)
				)
			} else {
				more
			}
	)
</section>

@buttons() = {
	<button title='edit' class='btn btn-xs' ng-click='edit(it)' ng-show='can("read_data", it)'>
		@bs_icon("edit")
	</button>
	<button title='edit permissions' class='btn btn-xs' ng-click='permit(it)' ng-show='can("permit", it)'>
		@bs_icon("eye-close")
	</button>
}

