@(singular:String, plural:String, prefix:String)
<section>
	<h3>You have {{count(models)}} @plural
		<small><button title='Add new @singular' class='btn btn-xs' ng-click='addNew()'>
			@bs_icon("plus")
		</button></small>
	</h3>
	@filters(prefix, plural, Seq(Seq("id", "ID"), Seq("name", "Name")))
	<table class='table table-striped table-condensed table-hover'>
		<thead> <tr>
				<th>ID</th>
				<th>Name</th>
				<th>Edit</th>
		</tr></thead>
		<tbody>
			<tr class='active' ng-repeat=@filter_repeat("it in models" , prefix)>
				<td>{{it.id}}</td>
				<td>{{it.name}}</td>
				<td>
					<button title='edit' class='btn btn-xs' ng-click='edit(it)'>
						@bs_icon("edit")
					</button> 
				</td>
			</tr>
		</tbody>
	</table>
</section>
