@* Buttons as a footer of a dialog *@
@(model:String)
<button title="Save the @model" class='btn-large btn-primary' 
ng-click='submit()' ng-disabled='working' >
	@bs_icon("save") Save
</button>
<button title="Save the @model & Close the dialog" class='btn-large  btn-primary' 
ng-click="submitThenClose()" ng-disabled='working'>
	@bs_icon("save") Save & @bs_icon("remove") Close
</button>
<button title="Delete the @model & Close the dialog" class='btn-large btn-danger pull-left' 
ng-click='removeThenClose()' ng-show='model.id' ng-disabled='working'>
	@bs_icon("trash") Delete & @bs_icon("remove") Close
</button>
