@import tags._

@* Series modal dialog *@
@(orders:Seq[Seq[String]] = Seq(
			Seq("date", "Date"), 
			Seq("value", "Value"),
			Seq("location", "Location"),
			Seq("latitude", "Latitude"), 
			Seq("longitude", "Longitude"))
)
@bs_modal("seriesModal", "Series", "Series Editor", "close()")(editor())(modal_buttons("Series"))

@editor() = {
	<form name='form' class="form-horizontal" role="form">
		@metadata_inputs()
	</form>
	@dataSection("view.hideData")
}

@dataSection(varName:String) = {
	@section_expandable(varName){
		<h4>
			@span_expandable(varName, head())
		<button title="Open the dialog to upload data" class='btn btn-large' 
		ng-click='uploadNewData(model.id)' ng-show ='model.id && isModelEditable()'>
			@bs_icon("upload") Re-upload data ...
		</button>
		</h4>
	}{
		@table_filterable("coordinates", "data", "data", orders)
	}
}

@head(unitText:String="location") = {
The Series contains {{count(coordinates) | number}} data from {{locationIds.length | number}} @unit(unitText)
}

@unit(text:String) = {@span_if_else("(locationIds.length > 1)", Html(text +"s"), Html(text))}