@bs_modal("dataModal", "SeriesData", "Series Data Uploader", "closeDialog()")(uploader())(footer())

@uploader() = {
<form id="form" class="form-horizontal" role="form" name="form" enctype="{{ radioIn === 'file' ? 'multipart/form-data' : 'application/x-www-form-urlencoded' }}"
	ng-init='radioIn="file"'
>
	@radio("fileRadio", "radioIn", "file", "file")
	<div class="form-group">
		<div class="col-sm-offset-1">
			<input type="file" app-file-model="dataFile" id="data-file" ng-disabled="radioIn !== 'file'"/>
		</div>
	</div>

	@radio("urlRadio", "radioIn", "url", "URL")
	<div class='form-group input-group-sm row'>
		<label class='control-label col-sm-2' for='url'>URL:</label>
		<div class="col-sm-8">
			<input class="form-control" type="url" name="url" ng-model = "url" id="url" ng-disabled="radioIn !== 'url'" required>
		</div>
		<span style="color:red" ng-show="form.url.$dirty && form.url.$invalid && radioIn === 'url'">
		<span ng-show="form.url.$error.required">URL is required</span>
		<span ng-show="form.url.$error.url">Invalid URL</span>
		</span>
	</div>
</form>}

@radio(id:String, model:String, value:String, text:String) = {
<div class="form-group">
	<div class="radio radio-offset">
		<label class='control-label' for='@id'>
			<input type="radio" name="opt" id= "@id" ng-model="@model" value="@value" checked> 
			<strong>Upload using @text</strong>
		</label>
	</div>
</div>
}

@footer() = {
	<button title="Replace the existing data with the data in the uploaded file & Close the dialog" 
	class='btn-large btn-danger pull-left' 
	ng-click='uploadThenClose()' ng-disabled='! dataFile' ng-disabled='isWorking'>
	@bs_icon("upload") Upload & Close
	</button>
}