@bs_modal("dataModal", "SeriesData", "Series Data Uploader", "closeDialog()")(uploader())(footer())

@uploader() = {
<form id="form" class="form-horizontal" role="form" name="form" enctype="{{ radioIn === 'file' ? 'multipart/form-data' : 'application/x-www-form-urlencoded' }}">
	<div class="form-group">
		<div class='form-group input-group-sm row'>
			<label class='control-label col-sm-3' for='fileRadio'>
				<input type="radio" name="opt" id= "fileRadio" ng-model="radioIn" value="file" checked> Upload using file
			</label>
		</div>
		<div class='form-group'>
			<div class="col-sm-2"></div>
			<div>
				<input type="file" app-file-model="dataFile" id="data-file" ng-disabled="radioIn !== 'file'"/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class='form-group input-group-sm row'>
			<label class='control-label col-sm-3' for='urlRadio'>
				<input type="radio" name="opt" id="urlRadio" ng-model="radioIn" value="url"> Upload using URL
			</label>
		<!-- <strong>Upload using URL</strong>-->
		</div>
		<div class='form-group input-group-sm row'>
			<label class='control-label col-sm-2' for='url'>URL:</label>
			<div class="col-sm-8">
				<input class="form-control" type="url" name="url" ng-model = "url" id="url" ng-disabled="radioIn !== 'url'" required>
			</div>
			<span style="color:red" ng-show="form.url.$dirty && form.url.$invalid && radioIn === 'url'">
			<span ng-show="form.url.$error.required">URL is required</span>
			<span ng-show="form.url.$error.url">Invalid URL</span>
			</span>
		</div>
	</div>	
	
</form>

}

@footer() = {
<button
	title="Replace the existing data with the data in the uploaded file & Close the dialog"
	class='btn-large btn-danger pull-left' ng-click='uploadThenClose()'
	ng-disabled='! dataFile' ng-disabled='isWorking' ng-show="radioIn === 'file'">
	@bs_icon("upload") Upload & Close</button>
<button
	title="Replace the existing data with the data in the url content & Close the dialog"
	class='btn-large btn-danger pull-left' ng-click='uploadViaUrlThenClose()'
	ng-disabled='form.url.$invalid || isWorking' ng-show="radioIn === 'url'">
	@bs_icon("upload") Upload & Close</button>
}
