@bs_modal("dataModal", "SeriesData", "Series Data Uploader", "closeDialog()")(uploader())(Html(""))

@uploader() = {
	<form id="form" name="form" enctype="multipart/form-data">
		<p>
		<label>Format</label>
		<select id="format">
			<option value="apolloIdFormat">apollo_id</option>
			<option value="coordinateFormat">coordinate</option>
		</select>
		</p>

		<p>
		<label>Delimiter</label>
		<select id="delimiter">
			<option value=",">comma(,)</option>
			<option value="	">Tab</option>
			<option value="|">Bar(|)</option>
		</select>
		</p>
	
	<p>
		<input type="file" name="csv_file" id="csv_file" />
	</p>
	<input type="submit"/>
	</form>
}