@(models:String, prefix:String, orders:Seq[Seq[String]], append:Seq[Seq[Html]]=Seq())
<table class=@classes_table("table-header")>
	<thead>
		<tr>
			@orders.map { o =><th  class='col-@o(0)'>@o(1)</th>
			}
			@append.map {o =><th  class='col-@o(0)'>@o(1)</th>
			}
			<th class='col-scroll'></th>
		</tr>
	</thead>
</table>
<div ng-init='view.resizable = !dialog' class='table-content' ng-class='{"table-content-resizable":view.resizable}'>
	<table class=@classes_table()>
		<tbody>
			<tr class='active' ng-hide='isHidden(it)' ng-repeat=@filter_repeat("it in " + models, prefix)>
				@orders.map { o =><td class='col-@o(0)'>{{it.@o(0)}}</td>
				}
				@append.map {o =><td class='col-@o(0)'>@o(2)</td>
				}
			</tr>
		</tbody>
	</table>
</div>