@import tags._ 

@* Visualization modal dialog *@
@(
	orders:Seq[Seq[String]] =Seq(Seq("id", "ID"), Seq("title", "Title"), Seq("version", "Version"))
)
@bs_modal("modal", "Viz", "Visualization Editor", "close()")(editor())(modal_buttons("Visualization"))

@editor(labelSize:Int=3) = {
	@filters("allSeries", "series", "Series", orders)
	<form name='form' class="form-horizontal" role="form">
		@metadata_inputs(labelSize)
		@selectedSeriesSection("view.hideSeries")
	</form>
}

@selectedSeriesSection(varName:String, appendCols:Seq[Seq[Html]] =Seq(
		Seq(Html("check"), bs_icon("check"), seriesCheckbox),
		Seq(Html("action-1"), Html("Edit"), editButton)
	)) = {
	@section_expandable(varName){
		<h4 title='selected Series to be avialble to view in the Visualization'>
			@span_expandable(varName, Html("Selected Series")) 
			<span title='the number of selected Series to be avialble to view in the Visualization'>({{countSelected() | number}})</span>
		</h4>
	}{
		<div id='filterPlaceholderNotToCountAsPartOfForm'></div>
		@buttonInvert()
		@buttonHideSeries("showAll")
		You have {{count(allSeries) | number}} series available to select
		@table_scollarable_content("allSeries", "series", orders, appendCols)
	}
}

@buttonInvert() = {
	<button title='invert Series selection' class='btn btn-xs' 
	ng-click='invertSelection()'>invert selected series</button>
}

@buttonHideSeries(varName:String) = {
	<button class='btn btn-xs pull-right' ng-click='@varName = !@varName'>
		@span_if_else(varName, hideSeries, showSeries)
	</button>
}

@seriesCheckbox = {<input type='checkbox' title='check to select the Series to be avialble to view in the Visualization' ng-model='it.isSelected'>}
@editButton = {<button title='edit' class='btn btn-xs' ng-click='editSeries(it)'>@bs_icon("edit")</button>}

@hideSeries = {<span title='i.e. show only selected series'>hide series not selected</span>}
@showSeries = {<span title='show all series (both selected and not selected)'>show all series</span>}