@import tags._ 

@* Visualization modal dialog *@
@(
	orders:Seq[Seq[String]] =Seq(Seq("id", "ID"), Seq("title", "Title"), Seq("version", "Version")),
	more:Seq[Seq[Html]] =Seq(
		Seq(Html("a"), bs_icon("check"), Html("<input title='check to select the Series to be avialble to view in the Visualization' type='checkbox' ng-model='it.s1'>")),
		Seq(Html("action-1"), Html("Edit"), Html("<button title='edit' class='btn btn-xs' ng-click='editSeries(it)'><span class = 'glyphicon glyphicon-edit' aria-hidden='true'></span></button>"))
	)
)
@bs_modal("modal", "Viz", "Visualization Editor", "close()")(editor())(modal_buttons("Visualization"))

@editor(labelSize:Int=3) = {
	@filters("series", "Series", orders)
	<form name='form' class="form-horizontal" role="form">
		@metadata_inputs(labelSize)
		@selectedSeriesSection("view.hideSeries")
	</form>
}

@selectedSeriesSection(varName:String) = {
	@section_expandable(varName){
		<h4 title='selected Series to be avialble to view in the Visualization'>
			@span_expandable(varName, "Selected Series") 
			<span class="badge" title='the number of selected Series to be avialble to view in the Visualization'>{{countBy("s1")}}</span>
		</h4>
	}{
		<div id='filterPlaceholderNotToCountAsPartOfForm'></div>
		@buttonInvert("A")
		@buttonHideSeries("showAll")
		You have {{count(allSeries)}} series available to select
		@table_scollarable_content("allSeries", "series", orders, more)
	}
}

@buttonInvert(cat:String) = {
	<button title='invert Series selection' class='btn btn-xs' 
	ng-click='invert@{cat}()'>invert selected series</button>
}

@buttonHideSeries(varName:String) = {
	<button class='btn btn-xs pull-right' ng-click='@varName = !@varName'>
		@span_if(varName, Html("Hide series not selected"), "i.e. show only selected series")
		@span_if("!" + varName, Html("Show all series"), "show all series (both selected and not selected)")
	</button>
}