@*(message: String, version: String)*@
@(title: String)

@imports = {
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

	<script src='@routes.Assets.at("external_packages/Highcharts-4.1.5/js/highcharts.js")'></script>
	<script src='@routes.Assets.at("external_packages/Highcharts-4.1.5/js/modules/exporting.js")'></script>

	<script src='@routes.Assets.at("javascripts/leaflet-heat2.js")'></script>
	<!--<script src='external-lib/leaflet-heat/leaflet-heat2.js'></script>-->

	<!--<script src='js/test.js'></script>-->

	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet' />
	
	<script src='@routes.Assets.at("javascripts/timeline.js")'></script>
	
	<!--<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bcos.css")'>-->
}

@main(title, imports) {
	<div id='body' style="">
		<div style="float: left; background-color: #808080; height: 600px;">
			<h5>Pick a color scheme:</h5>
			<div id="ramps">
				<div id="palette-0" class="ramp selected">
					<svg width="15" height="75">
						<rect fill="rgb(27,158,119)" width="15" height="15" y="0"></rect>
						<rect fill="rgb(217,95,2)" width="15" height="15" y="15"></rect>
						<rect fill="rgb(117,112,179)" width="15" height="15" y="30"></rect>
						<rect fill="rgb(231,41,138)" width="15" height="15" y="45"></rect>
						<rect fill="rgb(102,166,30)" width="15" height="15" y="60"></rect>
					</svg>
				</div>
				
				<div id="palette-1" class="ramp">
					<svg width="15" height="75">
						<rect fill="rgb(166,206,227)" width="15" height="15" y="0"></rect>
						<rect fill="rgb(31,120,180)" width="15" height="15" y="15"></rect>
						<rect fill="rgb(178,223,138)" width="15" height="15" y="30"></rect>
						<rect fill="rgb(51,160,44)" width="15" height="15" y="45"></rect>
						<rect fill="rgb(251,154,153)" width="15" height="15" y="60"></rect>
					</svg>
				</div>
				
				<div id="palette-2" class="ramp">
					<svg width="15" height="75">
						<rect fill="rgb(102,194,165)" width="15" height="15" y="0"></rect>
						<rect fill="rgb(252,141,98)" width="15" height="15" y="15"></rect>
						<rect fill="rgb(141,160,203)" width="15" height="15" y="30"></rect>
						<rect fill="rgb(231,138,195)" width="15" height="15" y="45"></rect>
						<rect fill="rgb(166,216,84)" width="15" height="15" y="60"></rect>
					</svg>
				</div>
			</div>
		</div>
		
		<div style="float: left; clear: right; width: 800px;">
			<div id='map' style="background-color: #808080;"></div>
			
			<div id="container" style="max-height: 300px; margin: 0px 0px 0px 0px; position: relative; bottom: 220px;">
				<div style="position: relative; bottom: -30px; z-index: 1;">
					<button id="reset-button" class="btn btn-sm" style="background-color: rgba(221, 221, 221, 0.6);"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
					<button id="playback-button" class="btn btn-sm" style="background-color: rgba(221, 221, 221, 0.6);"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
					<span id="current-date" style="background-color: rgba(255, 255, 255, 0.6); float: right; clear: right;"></span>
				</div>
				
				<div id="detail-container" style="height: 300px; z-index: -1;"></div>
			</div>
		</div>
	</div>
}
