@*(message: String, version: String)*@
@(title: String)

@imports = {
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

	<script src='@routes.Assets.at("external_packages/Highcharts-4.1.5/js/highcharts.js")'></script>
	<script src='@routes.Assets.at("external_packages/Highcharts-4.1.5/js/modules/exporting.js")'></script>

	<script src='@routes.Assets.at("javascripts/leaflet-heat2.js")'></script>

	<script type='text/javascript' src='https://code.angularjs.org/1.4.2/angular.js'></script>

	<link href='@routes.Assets.at("stylesheets/index.css")' rel='stylesheet' />
	
	<script src='@routes.Assets.at("javascripts/timeline.js")'></script>
}

@main(title, imports) {
	<div id='body' style="">
		<div style="position: relative; z-index: 1;">
			<div style="">
				<button id="toggle-controls-button" class="btn no-padding" style="float: right; position: relative; right: 16px;"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></button>
				
				<div id="control-panel" style="background-color: rgba(128, 128, 128, 0.1); padding: 5px; height: 600px; width: 15%; float: right; display: none;">
					<div id="series-options"></div>
					
					<div>
						<div>
							<h5>Pick a color scheme:</h5>
							<div id="ramps"></div>
						</div>
						
						<div id="color-options"></div>
						
						<div>
							<button id="save-button">Save as default view</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="visualization" style="">
			<div id='map' style="background-color: #808080;"></div>
			
			<div id="container" style="max-height: 300px; margin: 0px 0px 0px 0px; position: relative; bottom: 215px;">
				<div id="detail-container" style="height: 300px;"></div>
				
				<div style="position: relative; top: -120px; margin-left: 76px;">
					<button id="toggle-details-button" class="btn btn-sm" style="background-color: rgba(221, 221, 221, 0.6);"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
					<button id="reset-button" class="btn btn-sm" style="background-color: rgba(221, 221, 221, 0.6);"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
					<button id="playback-button" class="btn btn-sm" style="background-color: rgba(221, 221, 221, 0.6);"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
					<span id="current-date" style="background-color: rgba(255, 255, 255, 0.6); float: right; clear: right;"></span>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
}
