@(form: Form[models.Registration])

@imports = {
}

@main("Registration", imports) {
	@helper.form(routes.Login.register) {
		@if(flash.contains("message")) {
			<p class="message">
				@flash.get("message")
			</p>
		}
		
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}
		
		<p>
			<input type="text" name="name" placeholder="Name" value="@form("name").value">
		</p>
		<p>
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<button type="submit">Register</button>
		</p>
	}
}