@(form: Form[models.Registration])

@imports = {
}

@main("Registration", imports) {
	@helper.form(routes.User.register) {
		@if(flash.contains("message")) {
			<p class="message">
				@flash.get("message")
			</p>
		}
		
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}

        @input("name"){required type='text' placeholder='Name'}
        @input("email"){required type='email' placeholder='Email'}
        @input("password"){required type='password' placeholder='Password'}
        @input("organization"){required type='text' placeholder='Organization'}
		<p>
			<button type="submit">Register</button>
		</p>
	}
}

@input(name:String)(atts:Html) = {
    @for(error <- form(name).errors) {
        <p>@error.message</p>
    }
    <p>
        <input name="@name" value="@form(name).value" @atts>
    </p>
}