@import tags._

@imports = {
	@ng_imports()
	@script_asset("javascripts/ng/controllers/series-collection.js")
	@script_asset("javascripts/ng/controllers/series.js")
	@script_asset("javascripts/ng/controllers/series-data.js")
	@script_asset("javascripts/ng/controllers/permissions.js")
	@script_asset("javascripts/ng/controllers/permission.js")
	@script_asset("javascripts/ng/controllers/series-permissions.js")
	@script_asset("javascripts/ng/controllers/ambiguity-resolver.js")
	@script_asset("javascripts/ng/controllers/emailer.js")
}

@main("Series Management", imports) {
	<article id='series-body' ng-app='app' ng-controller='SeriesCollection'>
		@metadata_manager("Series", "Series", "series")
		@series_dialog()
		@series_data_dialog()
		@series_permissions_dialog()
		@series_permission_dialog()
		@ambiguity_resolver()
		@showAllCheckbox("series")
		
		@busy_dialog()
	</article>
}

@showAllCheckbox(prefix:String) = {
<div id="showAllCheckbox" style="display: inline-block;">
	<input title="display all series" id="@{prefix}ShowAllSeries" type="checkbox" ng-model="@{prefix}ShowAllSeries">
	<label title="display all series" for="@{prefix}ShowAllSeries"><span class="glyphicon glyphicon-list"></span></label>
</div>
}