@import tags._

@imports = {
	@ng_imports()
	@script_asset("javascripts/ng/controllers/series-collection.js")
	@script_asset("javascripts/ng/controllers/series.js")
	@script_asset("javascripts/ng/controllers/series-data.js")
	@script_asset("javascripts/ng/controllers/series-permissions.js")
	@script_asset("javascripts/ng/controllers/series-permission.js")
}

@main("Series Management", imports) {
	<article id='series-body' ng-app='app' ng-controller='SeriesCollection'>
		@metadata_manager("Series", "Series", "series")
		@series_dialog()
		@series_data_dialog()
		@series_permissions_dialog()
		@series_permission_dialog()
		@busy_dialog()
	</article>
}

