<!DOCTYPE html>
<html lang="en">
<head>
<script type='text/javascript'> var CONTEXT = '/epidemap'</script>
<script type='text/javascript'
	src='https://code.angularjs.org/1.4.2/angular.js'></script>
<script type='text/javascript'
	src='http://documentcloud.github.io/underscore/underscore-min.js'></script>
<script src='@routes.Assets.at("javascripts/ng.js")'></script>
<base href="/">
</head>
<body ng-app='app' ng-controller='viz'>
<article>
	<h1>Viz Management</h1>
	<section>
		<h2>Create a new Viz</h2>
		<button class='btn-large' ng-click='addNew()'>Add new</button>
	</section>
	<section>
		<h2>Edit existing {{count(vizs)}} Vizs</h2>
		
		<div class="search">
			<label>search: </label>
			<input ng-model="vizQuery" placeholder="Search for Vizs" autofocus> 
			<label>order by: </label> 
			<select ng-model="vizOrder">
				<option value="id">ID</option>
				<option value="name">Name</option>
			</select>
			<input type="radio" ng-model="vizDir" name="vizDir" checked>
			<label> ascending </label> 
			<input type="radio"	ng-model="vizDir" name="vizDir" value="reverse">
			<label> descending</label>
		</div>
	
		<table class='table table-striped'>
			<thead>
				<tr>
					<td>Edit</td>
					<td>Viz ID</td>
					<td>Viz name</td>
					<td>|Series 1|</td>
					<td>|Series 2|</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='viz in vizs | filter: vizQuery | orderBy: vizOrder:vizDir'>
					<td><button class='btn' ng-click='edit(viz)'>...</button></td>
					<td>{{viz.id}}</td>
					<td>{{viz.name}}</td>
					<td>{{count(viz.allSeries)}}</td>
					<td>{{count(viz.allSeries2)}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</article>

<dialog id='viz'>  <!-- TODO: only Chrome-35 supported -->
	<h1>Viz Editor</h1>
	<form name='form'>
	<div>ID: {{model.id}}</div>
	<h2>Enter meta data</h2>
	<div>Name: <input type='text' ng-model='model.name'  autofocus> </div>
	<h2>Select the below series to be Series 1 and Series 2</h2>

	<div class="search"> <!-- TODO: mess up with form.$dirty() -->
		<label>search: </label> 
		<input ng-model="seriesQuery" placeholder="Search for Series" 
		autofocus> 
		<label>order by: </label>
		<select ng-model='seriesOrder'>
			<option value="id">ID</option>
			<option value="name">Name</option>
		</select>
		<input type="radio"	ng-model="seriesDir" name="seriesDir" checked>
		<label> ascending </label> 
		<input type="radio"	ng-model="seriesDir" name="seriesDir" value="reverse">
		<label> descending </label>
	</div>
	
	<button class='btn-large' ng-click='toggle()'>{{lable()}}</button>
	All {{count(allSeries)}} series
	<table class='table table-striped'>
		<thead>
			<tr>
				<td>S1</td>
				<td>S2</td>
				<td>Series name</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-show='isShown(series)'
			 ng-repeat='series in allSeries | filter: seriesQuery | orderBy: seriesOrder:seriesDir' >
				<td><input type='checkbox' ng-model='series.s1'></td>
				<td><input type='checkbox' ng-model='series.s2'></td>
				<td>{{series.name}}</td>
			</tr>
		</tbody>
	</table>
	<h1>Review</h1>
	<div>ID: {{model.id}} <br>
	Name: {{model.name}} <br>
	Series 1: {{countBy('s1')}} series <br>
	Series 2: {{countBy('s2')}} series <br>
	</div>
	<button class='btn-large' ng-click='close()'>Close</button>
	<button class='btn-large' ng-click='submit()'>Save</button>
	<button class='btn-large' ng-click="submitThenClose()">Save & Close</button>
	<button class='btn-large' ng-click='removeThenClose()' ng-show='model.id'>Delete & Close</button>
	</form>
	<div id='debug' hidden>
		<h2>model</h2>
		<div>{{model}}</div>
	</div>
</dialog>

</body>
</html>